###EXPLORER###
	<script>
		function loadFolder(path,folderId ){
			url = document.URL;
			jQuery.ajax({
				url: "index.php",
				type: "post",
				data: {
					eID: "getFileListTable",
					path: path,
					folderID: folderId,
					url : url
				},
				dataType: "html",
				success: function(response) {
					jQuery("div[data-path='" + path + "']").html(response)

				},
				complete: function() {

				},
				error:function(exception){console.log('Exeption:'+exception);}
			});
		}

		jQuery(document).ready(function() {
			jQuery('a[data-folderId]').click(function(e) {
				loadFolder(jQuery(e.target).data('path'), jQuery(e.target).data('folderid'));
			});
		});
	</script>

	<h2>###BASEFOLDERNAME###</h2>
	<div class="folderexplorer" data-opensubdir="###FOLDEREXPLORER_SUBDIR###">
	###FOLDEREXPLORER###
	</div>
###EXPLORER###
