###LIST###
    <div data-path="###PATH###">
        <table>
            <tr>
                <td>Name</td>
                <td>ID</td>
                <td>Link</td>
	            <td>Image</td>
            </tr>
            ###FOLDERITEMS###
                ###FOLDERITEM###
                    <tr>
                        <td>###NAME###</td>
                        <td>###ID###</td>
                        <td><a href="###LINK###" target="_blank">###LINK###</a></td>
	                    <td><img src="###EXTICONPATH###" width="20px" alt="icon"/></td>
                    </tr>
                ###FOLDERITEM###
            ###FOLDERITEMS###
        </table>
    </div>
###LIST###
