###LIST###
    <div id="current_listTable">
        <table>
            <tr>
                <td>Name</td>
                <td>ID</td>
                <td>Link</td>
            </tr>
            ###FOLDERITEMS###
                ###FOLDERITEM###
                    <tr>
                        <td>###NAME###</td>
                        <td>###ID###</td>
                        <td><a href="###LINK###" target="_blank">###LINK###</a></td>
                    </tr>
                ###FOLDERITEM###
            ###FOLDERITEMS###
        </table>
    </div>
###LIST###
