###LIST###
	<div data-path="###PATH###">
		<table>
			<tr>
				<td>Name</td>
				<td>ID</td>
				<td>Link</td>
				<td>Image</td>
			</tr>
			###FOLDERITEMS###
				###FOLDERITEM###
					<tr>
						<td>###FOLDERITEM_NAME###</td>
						<td>###FOLDERITEM_ID###</td>
						<td><a href="###FOLDERITEM_LINK###" target="_blank">###FOLDERITEM_LINK###</a></td>
						<td><img src="###FOLDERITEM_EXTICONPATH###" width="20px" alt="icon"/></td>
					</tr>
				###FOLDERITEM###
			###FOLDERITEMS###
		</table>
	</div>
###LIST###
